img.preview{
  width: 100px;
  height: 100px;
  border: 2px solid rgba(89, 92, 88, 0.17);
  margin-bottom: 30px;
  margin-top: 30px;
}
.is-hidden {
    display: none !important;
    visibility: hidden !important;
}
.btn-outlined.btn-theme {
  color: #FFF;
  background: #891A1C;
  border-color: #891A1C;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
  background: none;
  color: #891A1C;
  border-color: #891A1C;
}

.btn-lg {
  font-size: 18px;
  line-height: 22px;
  border: 4px solid;
  padding: 13px 40px;
}
.btn-outlined {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn {
  letter-spacing: 1px;
  text-decoration: none;
  background: none;
  display: inline-block;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid;
  padding: 8px 20px;
}
.btn-lg, .btn-group-lg>.btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.edit-draft, .publish-draft-message, .delete-draft {
  width: 30%;
  font-size: 11px !important;
}
.edit-draft, .delete-draft {
  margin-left: 5%;
}
.edit-published {
  width: 100% !important;
  margin-top: 10px !important;
}

@media (max-width: 992px) {
  .edit-draft, .publish-draft-message, .delete-draft {
    width: 100% !important;
    margin-top: 10px !important;
  }

  .edit-draft, .delete-draft {
    margin-left: 0;
  }
}

/*
  MENU
*/
nav{
  height: 70px;
  line-height: 70px;
  border-bottom: 2px solid #eaeaea;
  position: fixed;     right: 0;     left: 0;
  background-color: #fff;
  z-index: 1030;
  vertical-align: baseline;
}
.logo-brand{
  font-size: 25px;
  font-weight: bold;
}
#menu {
  float: right;
  right: 20px;
  height: 40px;
  width: 40px;
  margin-top: -55px;
  cursor: pointer;
}
#menu:hover {
  cursor: pointer;
}
#menu line {
  stroke: #891A1C;
  stroke-width: 5px;
}
.menu {
  background-color: #891A1C;
  height: 100%;
  left: 0;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
  opacity: .9;
  overflow: auto;
  padding-top: 25vh;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}
.menu.is-closed {
  position: absolute;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s linear;
}
.menu-item a {
  font-size: 2.8em;
  line-height: 1.5em;
  color: #fff;
  text-decoration: none;
}
.menu-item a:hover {
  text-decoration: underline;
  color: #fff;
}
.btn-close, a.btn-close {
    font-size: 4em;
    line-height: 1em;
    position: absolute;
    right: 70px;
    top: 0;
    color: #fff;
    cursor : pointer;
}
.btn-close:hover, a.btn-close:hover{
    text-decoration: none;
    color: #999;
}
